@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.menu{
    background-color: #1A202C;
    color: #fff;
    height: 70px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #5e7094;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #798499;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: skyblue;
    font-family: sans-serif;
    padding: 10px 10px;
  }

  .card-container{
    display: flex;
    width: 700px;
    height: auto;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgb(172, 119, 119) (0, 0, 0, .2);
    
  }

  .header{
    border-right: 1px solid white;
  }

  .descripcion{
    background: #fbfbfb;
    width: 700px;
    height: auto;
  }

  .header, .descripcion{
    padding: 20px;
    text-align: center;
  }

  .header a{
    position: relative;
    display: block;
  }

  .descripcion img{
    width: 500px;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 0 0 8px  rgba(0, 0 ,0, .06);
    margin: 10px 10px;
    transition: .2s;
  }

  .descripcion a:hover img{
    box-shadow: 0 0 0 12px rgba(0, 0 ,0, .1); 
  }

  .header h1{
    color:brown;
    margin: 20px 10px;
  }
  .header h2{
    color:black;
    margin: 20px 10px;
  }

  .descripcion p{
    margin: 10px 20px;
  }

  .descripcion .social{
    margin-top: 25px;
    list-style: none;
    display: inline-block;
    margin: .5em .2em;
  }
  
  .descripcion .social a{
    text-decoration: none;
    color: white;
    background: #0c0c0c;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    border-radius: 50%;
    transition: all .3s ease-in-out;
  }
  
 
@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
    .card-container{
        display: block;
      }
  
      .header{
        padding: 20px 20px 5px 20px;
      }
  
      .header h4{
        margin: 0;
      }
}